.module-list {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 38px auto;
    gap: 31px;
  }

  .module-item {
    padding: 10px;
    width: 98%;
    gap: 5px;
    border: 1px solid;
    margin: auto;
  }
  
  .photo-block {
    display: flex;
    justify-content: space-between;
  }